<!-- header -->
<header>
    <a href="#" class="logo">
      <img src="logo.png" alt="" />
    </a>
    <ul class="navlist">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/add-new">Add New Employee</a></li>
      <li><a routerLink="/view-all">All Employees</a></li>
    </ul>
    <div class="nav-content">
      <a href="#"><i class="ri-search-line"></i></a>
      <a href="#"><i class="ri-user-line"></i></a>
      <a href="#"><i class="ri-heart-line"></i></a>
      <a href="#"><i class="ri-shopping-bag-line"></i></a>
      <div class="bx bx-menu" id="menu-icon"></div>
    </div>
  </header>