.navbar {
    height: 70px;
    padding: 0 1rem;
    
    .navbar-nav {
      display: flex;
      align-items: center;
    }
    
    .topbar-divider {
      width: 0;
      border-right: 1px solid #e3e6f0;
      height: 1.5rem;
      margin: auto 1rem;
    }
    
    .img-profile {
      height: 2rem;
      width: 2rem;
    }
  }