<h2>Add New Employee</h2>
<form (ngSubmit)="onSubmit()">
  <input
    type="text"
    placeholder="Name"
    name="name"
    required
  />
  <input
    type="email"
    placeholder="Email"
    name="email"
    required
  />
  <input
    type="text"
    placeholder="Department"
    name="department"
    required
  />

  <button type="submit">Add Employee</button>
</form>

<hr />
<table>
  <tr *ngFor="let emp of employees">
    <td>{{ emp.name }}</td>
    <td>{{ emp.email }}</td>
    <td>{{ emp.department }}</td>
    <td>
      <button (click)="deleteEmployee(emp.id!)">Delete</button>
    </td>
  </tr>
</table>
